Spec Kit/
# .specify/
.claude/

# Laravel / PHP
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.DS_Store
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/bootstrap/cache/*.php
/storage/app/firebase/
.specify/
/docs
specs
